@font-face {
  font-family: 'iconfont';  /* Project id 2465870 */
  src: url('//at.alicdn.com/t/font_2465870_6yjas7ksq0s.woff2?t=1635597972434') format('woff2'),
       url('//at.alicdn.com/t/font_2465870_6yjas7ksq0s.woff?t=1635597972434') format('woff'),
       url('//at.alicdn.com/t/font_2465870_6yjas7ksq0s.ttf?t=1635597972434') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfonttaobao:before {
  content: "\e60c";
}

.icon-tianmao:before {
  content: "\e757";
}

.icon-suningyigou:before {
  content: "\e632";
}

.icon-pay-jingdong:before {
  content: "\e8dd";
}

.icon-pinduoduo:before {
  content: "\e8df";
}

.icon-youjiantou-tianchong:before {
  content: "\e73d";
}

.icon-zuojiantou-tianchong:before {
  content: "\e73e";
}

.icon-gouwuche1:before {
  content: "\e664";
}

.icon-Backupoffeedback:before {
  content: "\e75b";
}

.icon-huidaodingbu:before {
  content: "\e695";
}

.icon-yemian-copy:before {
  content: "\e607";
}

.icon-yemian-copy-copy:before {
  content: "\e608";
}

.icon-shouye:before {
  content: "\e609";
}

.icon-shouye1:before {
  content: "\e60b";
}

.icon-shuxian:before {
  content: "\e600";
}

.icon-Separator:before {
  content: "\e601";
}

.icon-shuxian1:before {
  content: "\e64e";
}

.icon-shoucangjia:before {
  content: "\e604";
}

.icon-shuxian2:before {
  content: "\e605";
}

.icon-fengefu:before {
  content: "\e67f";
}

.icon-fengefu1:before {
  content: "\e719";
}

.icon-dingbu:before {
  content: "\e60a";
}

.icon-weibo:before {
  content: "\e641";
}

.icon-zhifubao:before {
  content: "\e666";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-xiangji:before {
  content: "\e6d0";
}

.icon-qq:before {
  content: "\e638";
}

.icon-xingmingyonghumingnicheng:before {
  content: "\e653";
}

.icon-mima:before {
  content: "\e602";
}

.icon-weixin2:before {
  content: "\e6cd";
}

.icon-denglu:before {
  content: "\e603";
}

.icon-lianxiwomen:before {
  content: "\e7b4";
}

.icon-gouwuche:before {
  content: "\e61e";
}

.icon-arrowdown:before {
  content: "\e61a";
}

